
## <summary>policy for radarcoin</summary>


########################################
## <summary>
##	Transition to radarcoin.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`radarcoin_domtrans',`
	gen_require(`
		type radarcoin_t, radarcoin_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, radarcoin_exec_t, radarcoin_t)
')


########################################
## <summary>
##	Execute radarcoin server in the radarcoin domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`radarcoin_initrc_domtrans',`
	gen_require(`
		type radarcoin_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, radarcoin_initrc_exec_t)
')


########################################
## <summary>
##	Search radarcoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`radarcoin_search_lib',`
	gen_require(`
		type radarcoin_var_lib_t;
	')

	allow $1 radarcoin_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read radarcoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`radarcoin_read_lib_files',`
	gen_require(`
		type radarcoin_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, radarcoin_var_lib_t, radarcoin_var_lib_t)
')

########################################
## <summary>
##	Manage radarcoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`radarcoin_manage_lib_files',`
	gen_require(`
		type radarcoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, radarcoin_var_lib_t, radarcoin_var_lib_t)
')

########################################
## <summary>
##	Manage radarcoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`radarcoin_manage_lib_dirs',`
	gen_require(`
		type radarcoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, radarcoin_var_lib_t, radarcoin_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a radarcoin environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`radarcoin_admin',`
	gen_require(`
		type radarcoin_t;
		type radarcoin_initrc_exec_t;
		type radarcoin_var_lib_t;
	')

	allow $1 radarcoin_t:process { ptrace signal_perms };
	ps_process_pattern($1, radarcoin_t)

	radarcoin_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 radarcoin_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, radarcoin_var_lib_t)

')

